# Mengukur Jarak Data

## Mengukur Jarak Tipe Numerik

### Tugas II (Mengukur Jarak pada Data Real)

In [119]:
from scipy import stats
import pandas as pd
df = pd.read_csv('bupa.csv')
a=df.iloc[1:100]
a

     a    b   c   d  e  f
1   85   64  59  32  1  2
2   86   54  33  16  3  2
3   91   78  34  24  1  2
4   87   70  12  28  5  2
5   98   55  13  17  5  2
6   88   62  20  17  1  1
7   88   67  21  11  3  1
8   92   54  22  20  4  1
9   90   60  25  19  4  1
10  89   52  13  24  3  1
11  82   62  17  17  2  1
12  90   64  61  32  1  1
13  86   77  25  19  2  1
14  96   67  29  20  1  1
15  91   78  20  31  2  1
16  89   67  23  16  5  1
17  89   79  17  17  2  1
18  91  107  20  20  5  1
19  94  116  11  33  4  1
20  92   59  35  13  3  1
21  93   23  35  20  2  1
22  90   60  23  27  2  1
23  96   68  18  19  3  1
24  84   80  47  33  5  1
25  92   70  24  13  2  1
26  90   47  28  15  4  1
27  88   66  20  21  1  1
28  91  102  17  13  4  1
29  87   41  31  19  4  1
30  86   79  28  16  1  1
..  ..  ...  ..  .. .. ..
70  90   63  29  23  2  1
71  90   67  35  19  1  1
72  87   66  27  22  4  1
73  90   73  34  21  3  1
74  86   54  20  21  4  1
75  90   80  19  14  1  1
76  87   90  43  28  5  2
77  96   72  28  19  5  2
78  91   55   9  25  2  2
79  95   78  27  25  5  2
80  92  101  34  30  3  2
81  89   51  41  22  4  2
82  91   99  42  33  4  2
83  94   58  21  18  2  2
84  92   60  30  27  4  2
85  94   58  21  18  4  2
86  88   47  33  26  4  2
87  92   65  17  25  4  2
88  92   79  22  20  2  1
89  84   83  20  25  5  1
90  88   68  27  21  4  1
91  86   48  20  20  3  1
92  99   69  45  32  1  1
93  88   66  23  12  2  1
94  89   62  42  30  2  1
95  90   51  23  17  4  1
96  81   61  32  37  3  2
97  89   89  23  18  1  2
98  89   65  26  18  2  2
99  92   75  26  26  3  2

[99 rows x 6 columns]

In [120]:
binary=[5]
ordinal=[4]
num=[0,1,2,3]

In [121]:
from IPython.display import HTML, display
import tabulate
table=[
    ["Data"]+["Jarak"]+["Numeric"]+["Ordinal"]+["Categorical"]+["Binary"],
    ["v1-v2"]+[0]+[0]+[0]+[0]+[0],
    ["v1-v3"]+[0]+[0]+[0]+[0]+[0],
    ["v2-v3"]+[0]+[0]+[0]+[0]+[0],
    ["v3-v4"]+[0]+[0]+[0]+[0]+[0],
    ]

display(HTML(tabulate.tabulate(table, tablefmt='html')))

### Jarak Numeric

In [122]:
def chordDist(v1,v2,jnis):
    jmlh=0
    normv1=0
    normv2=0
    for x in range (len(jnis)):
        normv1=normv1+(int(a.values.tolist()[v1][jnis[x]])**2)
        normv2=normv2+(int(a.values.tolist()[v2][jnis[x]])**2)
        jmlh=jmlh+(int(a.values.tolist()[v1][jnis[x]])*int(a.values.tolist()[v2][jnis[x]]))
    return ((2-(2*jmlh/(normv1*normv2)))**0.5)

In [123]:
from IPython.display import HTML, display
import tabulate
table=[
    ["Data"]+["Jarak"]+["Numeric"]+["Ordinal"]+["Binary"],
    ["v1-v2"]+[0]+[chordDist(0,1,num)]+[0]+[0],
    ["v1-v3"]+[0]+[chordDist(0,2,num)]+[0]+[0],
    ["v2-v3"]+[0]+[chordDist(1,2,num)]+[0]+[0],
    ["v3-v4"]+[0]+[chordDist(1,3,num)]+[0]+[0],
    ]

display(HTML(tabulate.tabulate(table, tablefmt='html')))

### Jarak Ordinal

In [125]:
def ordDist(v1,v2,jnis):
    jmlh=0
    for x in range (len(jnis)):
        z1=int(a.values.tolist()[v1][jnis[x]])-1
        z2=int(a.values.tolist()[v2][jnis[x]])-1
        jmlh=jmlh+chordDist(z1,z2,jnis)
    return (jmlh)

In [126]:
from IPython.display import HTML, display
import tabulate
table=[
    ["Data"]+["Jarak"]+["Numeric"]+["Ordinal"]+["Binary"],
    ["v1-v2"]+[0]+[chordDist(0,1,num)]+[ordDist(0,1,ordinal)]+[0],
    ["v1-v3"]+[0]+[chordDist(0,2,num)]+[ordDist(0,2,ordinal)]+[0],
    ["v2-v3"]+[0]+[chordDist(1,2,num)]+[ordDist(1,2,ordinal)]+[0],
    ["v3-v4"]+[0]+[chordDist(1,3,num)]+[ordDist(1,3,ordinal)]+[0],
    ]

display(HTML(tabulate.tabulate(table, tablefmt='html')))

### Jarak Binary

In [127]:
def binaryDist(v1,v2,jnis):
    q=0
    r=0
    s=0
    t=0
    for x in range (len(jnis)):
        if (int(a.values.tolist()[v1][jnis[x]]))==1 and (int(a.values.tolist()[v2][jnis[x]]))==1:
            q=q+1
        elif (int(a.values.tolist()[v1][jnis[x]]))==1 and (int(a.values.tolist()[v2][jnis[x]]))==2:
            r=r+1
        elif (int(a.values.tolist()[v1][jnis[x]]))==2 and (int(a.values.tolist()[v2][jnis[x]]))==1:
            s=s+1
        else:
            t=t+1
    return ((r+s)/(q+r+s+t))

In [128]:
from IPython.display import HTML, display
import tabulate
table=[
    ["Data"]+["Jarak"]+["Numeric"]+["Ordinal"]+["Binary"],
    ["v1-v2"]+[0]+[chordDist(0,1,num)]+[ordDist(0,1,ordinal)]+[binaryDist(0,1,binary)],
    ["v1-v3"]+[0]+[chordDist(0,2,num)]+[ordDist(0,2,ordinal)]+[binaryDist(0,2,binary)],
    ["v2-v3"]+[0]+[chordDist(1,2,num)]+[ordDist(1,2,ordinal)]+[binaryDist(1,2,binary)],
    ["v3-v4"]+[0]+[chordDist(1,3,num)]+[ordDist(1,3,ordinal)]+[binaryDist(1,3,binary)],
    ]

display(HTML(tabulate.tabulate(table, tablefmt='html')))